.navbar a{
    color: #050505; 
    font-weight: bold;
    text-decoration: none;
transition: all .2s ease-in-out;
}



.navbar a::after{
    content: "";
    display: block;
    background-color: rgba(255, 222, 25, .8);
    height: .5px;
    width: 0%;
    margin: auto;
    transition: all .2s ease-in-out;
}


.navbar a:hover::after{
    width: 100%;
}

.navbar a:hover{
    color: rgba(255, 222, 25, .8);
}
