
.aparecer{
    animation: animacion .5s ease-in-out forwards;
    }
    
.aparecer-fondo{
animation: animacion-fondo .5s ease-in-out forwards;
}

.img-fondo::after{
    content: "" ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    z-index: 1;
    background: linear-gradient(to top, rgba(0,0,0,.9),transparent);
}


@keyframes animacion{
    from{
        opacity: 0;
        filter:blur(10px);
        transform: translateY(50px);
        }
        to{
            opacity: 1;
            filter:blur(0);
            transform: translateY(0);
    }
}

@keyframes animacion-fondo{
    from{
        opacity: 0;
        filter:blur(10px);
        }
        to{
            opacity: 1;
            filter:blur(0);
    }
}